In [50]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [65]:
import os
import sys
import pandas as pd
import shutil
import random
import numpy as np

In [66]:
sys.path.insert(0, '..')
from function import *
from createimages import *

In [67]:
artists = pd.read_csv('../raw_data/artists.csv')
artists.head()

,id,name,years,genre,nationality,bio,wikipedia,paintings
0,0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani (Italian pronunciat...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193
1,1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky (Russian: Васи́...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88
2,2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,Diego María de la Concepción Juan Nepomuceno E...,http://en.wikipedia.org/wiki/Diego_Rivera,70
3,3,Claude Monet,1840 - 1926,Impressionism,French,Oscar-Claude Monet (; French: [klod mɔnɛ]; 14 ...,http://en.wikipedia.org/wiki/Claude_Monet,73
4,4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,René François Ghislain Magritte (French: [ʁəne...,http://en.wikipedia.org/wiki/René_Magritte,194

In [68]:
#make id new index and drop id
#artists.index = artists['id']
artists.drop(labels=['id','years','nationality','bio', 'wikipedia'], axis=1, inplace = True)
#rename 'Albrecht Dürer' to 'Albrecht Durer'
artists['name'] = artists['name'].replace(to_replace='Albrecht D.rer', value = 'Albrecht Durer', regex = True)
artists['name'] = artists['name'].str.replace(' ', '_')
#calculate percentage of paintings against total
artists['% of paintings'] = round(artists.paintings/artists.paintings.sum()*100, 2)
artists.head()

                 name                         genre  paintings  % of paintings
0   Amedeo_Modigliani                 Expressionism        193            2.29
1  Vasiliy_Kandinskiy  Expressionism,Abstractionism         88            1.04
2        Diego_Rivera       Social Realism,Muralism         70            0.83
3        Claude_Monet                 Impressionism         73            0.86
4       Rene_Magritte      Surrealism,Impressionism        194            2.30

In [69]:
#create data frame with artist name, genre, filename, filepath
path = r'..\raw_images'

#get image information
img_info = get_image_info(path)

#convert lists to dataframe
zipped = zip(['name', 'filename', 'filepath'], img_info)
artlabels = pd.DataFrame(dict(list(zipped)))
artlabels.head()

,name,filename,filepath
0,Albrecht_Durer,Albrecht_Durer_(1).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...
1,Albrecht_Durer,Albrecht_Durer_(10).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...
2,Albrecht_Durer,Albrecht_Durer_(100).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...
3,Albrecht_Durer,Albrecht_Durer_(101).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...
4,Albrecht_Durer,Albrecht_Durer_(102).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...

In [70]:
#extract the artist name and genre
genre = artists.loc[:,['name', 'genre']]

#label each file with their respective genres
artlabels = artlabels.merge(genre, how='left', on='name')
artlabels.head()

,name,filename,filepath,genre
0,Albrecht_Durer,Albrecht_Durer_(1).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...,Northern Renaissance
1,Albrecht_Durer,Albrecht_Durer_(10).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...,Northern Renaissance
2,Albrecht_Durer,Albrecht_Durer_(100).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...,Northern Renaissance
3,Albrecht_Durer,Albrecht_Durer_(101).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...,Northern Renaissance
4,Albrecht_Durer,Albrecht_Durer_(102).jpg,..\raw_images\Albrecht_Durer\Albrecht_Durer_(1...,Northern Renaissance

In [71]:
#create a new folder for the csv files
datapath = '..\data'
create_new_folder(datapath)

..\data path already exists

In [72]:
#create a new csv file with at most one genre for an artist
#uniqueartlabels = artlabels[~artlabels.genre.str.contains(',')]
#uniqueartlabels.reset_index(drop=True, inplace=True)

newfile = 'artists_clean.csv'
fullpath = os.path.join(datapath, newfile)
artists.to_csv(fullpath)

In [73]:
#create a csv file from the new dataframe
newfile = 'artlabels.csv'
fullpath = os.path.join(datapath, newfile)
artlabels.to_csv(fullpath)

In [74]:
#clear old images to procure a new sample
rawpath = r'..\raw_images'
imagepath = r'..\images'
sample_list = get_random_imgs(rawpath, imagepath, artists, 6)

Sample for Amedeo_Modigliani : 14
Sample for Vasiliy_Kandinskiy : 6
Sample for Diego_Rivera : 5
Sample for Claude_Monet : 5
Sample for Rene_Magritte : 14
Sample for Salvador_Dali : 10
Sample for Edouard_Manet : 6
Sample for Andrei_Rublev : 7
Sample for Vincent_van_Gogh : 62
Sample for Gustav_Klimt : 8
Sample for Hieronymus_Bosch : 10
Sample for Kazimir_Malevich : 9
Sample for Mikhail_Vrubel : 12
Sample for Pablo_Picasso : 31
Sample for Peter_Paul_Rubens : 10
Sample for Pierre-Auguste_Renoir : 24
Sample for Francisco_Goya : 21
Sample for Frida_Kahlo : 9
Sample for El_Greco : 6
Sample for Albrecht_Durer : 23
Sample for Alfred_Sisley : 18
Sample for Pieter_Bruegel : 10
Sample for Marc_Chagall : 17
Sample for Giotto_di_Bondone : 8
Sample for Sandro_Botticelli : 12
Sample for Caravaggio : 4
Sample for Leonardo_da_Vinci : 10
Sample for Diego_Velazquez : 9
Sample for Henri_Matisse : 13
Sample for Jan_van_Eyck : 6
Sample for Edgar_Degas : 50
Sample for Rembrandt : 19
Sample for Titian : 18
Sample for Henri_de_Toulouse-Lautrec : 6
Sample for Gustave_Courbet : 4
Sample for Camille_Pissarro : 6
Sample for William_Turner : 5
Sample for Edvard_Munch : 5
Sample for Paul_Cezanne : 3
Sample for Eugene_Delacroix : 2
Sample for Henri_Rousseau : 5
Sample for Georges_Seurat : 3
Sample for Paul_Klee : 13
Sample for Piet_Mondrian : 6
Sample for Joan_Miro : 7
Sample for Andy_Warhol : 13
Sample for Paul_Gauguin : 22
Sample for Raphael : 8
Sample for Michelangelo : 3
Sample for Jackson_Pollock : 2
Deleted 3 images
Generated 599 new images

In [75]:
df_sample = pd.DataFrame(columns=['label', 'filename'])
for i in range(len(sample_list)):
    df_sample.loc[i] = sample_list[i]

In [76]:
df_sample.shape

(599, 2)

In [77]:
df_sample.head()

           label                   filename
0  Expressionism  Amedeo_Modigliani_191.jpg
1  Expressionism  Amedeo_Modigliani_151.jpg
2  Expressionism  Amedeo_Modigliani_144.jpg
3  Expressionism  Amedeo_Modigliani_127.jpg
4  Expressionism  Amedeo_Modigliani_116.jpg

In [78]:
df_sample.to_csv(r'..\data\sample.csv')

In [79]:
len(artists)

50

In [21]:
artists.name

0             Amedeo_Modigliani
1            Vasiliy_Kandinskiy
2                  Diego_Rivera
3                  Claude_Monet
4                 Rene_Magritte
5                 Salvador_Dali
6                 Edouard_Manet
7                 Andrei_Rublev
8              Vincent_van_Gogh
9                  Gustav_Klimt
10             Hieronymus_Bosch
11             Kazimir_Malevich
12               Mikhail_Vrubel
13                Pablo_Picasso
14            Peter_Paul_Rubens
15        Pierre-Auguste_Renoir
16               Francisco_Goya
17                  Frida_Kahlo
18                     El_Greco
19               Albrecht_Durer
20                Alfred_Sisley
21               Pieter_Bruegel
22                 Marc_Chagall
23            Giotto_di_Bondone
24            Sandro_Botticelli
25                   Caravaggio
26            Leonardo_da_Vinci
27              Diego_Velazquez
28                Henri_Matisse
29                 Jan_van_Eyck
30                  Edgar_Degas
31                    Rembrandt
32                       Titian
33    Henri_de_Toulouse-Lautrec
34              Gustave_Courbet
35             Camille_Pissarro
36               William_Turner
37                 Edvard_Munch
38                 Paul_Cezanne
39             Eugene_Delacroix
40               Henri_Rousseau
41               Georges_Seurat
42                    Paul_Klee
43                Piet_Mondrian
44                    Joan_Miro
45                  Andy_Warhol
46                 Paul_Gauguin
47                      Raphael
48                 Michelangelo
49              Jackson_Pollock
Name: name, dtype: object

In [22]:
artists['% of paintings']

0      2.285105
1      1.041913
2      0.828795
3      0.864314
4      2.296945
5      1.645749
6      1.065593
7      1.172152
8     10.383614
9      1.385271
10     1.622070
11     1.491830
12     2.024627
13     5.197727
14     1.669429
15     3.978215
16     3.445418
17     1.420791
18     1.030073
19     3.883495
20     3.066540
21     1.586550
22     2.829742
23     1.408951
24     1.941748
25     0.651196
26     1.693109
27     1.515510
28     2.202226
29     0.959034
30     8.311627
31     3.102060
32     3.019181
33     0.959034
34     0.698556
35     1.077433
36     0.781435
37     0.793275
38     0.556476
39     0.367038
40     0.828795
41     0.509117
42     2.225906
43     0.994554
44     1.207672
45     2.143026
46     3.682216
47     1.290552
48     0.580156
49     0.284158
Name: % of paintings, dtype: float64

In [44]:
def get_random_igs(oldpath, newpath, df, qty):
    '''
    generate a random sample of files with 
    at most the given qty from each artist
    to each newly created folder
    returns dataframe of files sampled with labels'''
    
    sample_list = [] #pd.DataFrame(columns=['label', 'filename'])
    num_skipped = 0
    copied = 0
    
    if os.path.exists(newpath):
        num_skipped = clear_old_images(newpath, df) 

    for i in range(len(df)):
        rawpath = os.path.join(oldpath, df.name[i])
        files = [f for f in os.listdir(rawpath)]# if os.path.isdir(f)]
        random_files = np.random.choice(files, int(round(qty*df['% of paintings'][i])))                              
        imgpath = os.path.join(newpath, df.genre[i])
        #check if folder exists; if it exists, clear any old residual images before new samples
        if os.path.exists(imgpath):
            pass
        #    num_skipped+=clear_old_images(imgpath)
        else:
            create_new_folder(imgpath)
        #create a dataframe to return label and filename  
        for copy in random_files:
            path_to_copy = os.path.join(rawpath, copy)
            shutil.copy(path_to_copy, imgpath)
            sample_list.append([df.genre[i], copy]) #append(path_to_copy) #df.genre[i] and copy
            copied += 1
    
            
    print("Deleted %d images" % num_skipped)
    print("Generated %d new images" % copied)
    
    return sample_list

In [12]:
def clear_old_images(path, df):
    num_skipped = 0
    #listdir = os.listdir(imagepath)
    #number_files = len(listdir)

    #if number_files >= df.sample_quantity.sum(): #num_folders >= len(artlabels.genre.unique())
    for i in range(len(df)):
        imgpath = os.path.join(path, df.genre[i])
        if os.path.exists(imgpath):
            for fname in os.listdir(imgpath):
                #if not fname.startswith('.'):
                fpath = os.path.join(imgpath, fname)
                #print(fpath)
                num_skipped += 1
                #Delete image
                os.remove(fpath)
    #print("Deleted %d images" % num_skipped) #from % imagepath

    return num_skipped